@use "sass:math";
@use "@/assets/css/vars-scss" as *;

@function px-to-vh($px, $mobile: false) {
    $base: if($mobile == true, $base-height-mobile, $base-height-desktop);

    @return $px * math.div(100, $base) * 1vh;
}