@use "sass:math";
@use "@/assets/css/vars-scss.scss" as *;

@function px-to-rem($px, $mobile: false) {
    $base: if($mobile == true, $base-px-mobile, $base-px-desktop);

    @return math.div($px, $base) * 1rem;
}