@use "sass:math";
@use "@/assets/css/vars-scss" as *;

@function px-to-vw($px, $mobile: false) {
    $base: if($mobile == true, $base-width-mobile, $base-width-desktop);

    @return $px * math.div(100, $base) * 1vw;
}